language: node_js
node_js:
  - "8"
install:
  - npm ci
  - cd functions
  - npm ci
  - cd ..
script:
  - npm run travis
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
notifications:
  email: false
cache:
  directories:
    - node_modules
before_deploy: npm run build
deploy:
  skip_cleanup: true
  provider: firebase
  on:
    branch: master
