service cloud.firestore {
  match /databases/{database}/documents {
    function isPublished(){
      return resource.data.isPublished;//request.time > resource.data.publishAt;
    }
    function isAuthenticated(){
      return request.auth!=null;
    }
    match /projects/{id} {
      allow read: if isPublished() || isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
