service cloud.firestore {
  match /databases/{database}/documents {
    function isPublished(){
			//request.time > resource.data.publishAt;
      return (resource != null && resource.data.isPublished);
    }
    function isAuthenticated(){
      return request.auth!=null;
    }
    match /projects/{id} {
      allow read: if isPublished() || isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
