@import "./reset";
@import "./variables";
@import "./fonts";

body,
#app {
	width: 100%;
	min-height: 100vh;
	// prettier-ignore
	font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Ubuntu, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;

	@media screen and (max-width: 700px) {
		font-size: 16px;
	}
}

body::before {
	$color-range: 10%;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: "";
	background: linear-gradient(
		30deg,
		darken($color-primary, $color-range * 1.5) 30%,
		lighten($color-primary, $color-range * 0.5)
	);
}

@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		font-family: Quicksand, sans-serif;
	}
}

.v-lazy-image {
	filter: blur(10px);
	transition: filter 0.7s;
}
.v-lazy-image-loaded {
	filter: blur(0);
}

// Nuxt page transitions
.page-enter-active,
.slide-left-enter-active,
.slide-right-enter-active,
.page-leave-active,
.slide-left-leave-active,
.slide-right-leave-active {
	transition-duration: 0.5s;
	transition-property: filter, transform;
}

.page-enter-active,
.slide-left-enter-active,
.slide-right-enter-active {
	transition-timing-function: ease-out;
}
.page-leave-active,
.slide-left-leave-active,
.slide-right-leave-active {
	transition-timing-function: ease-in;
}

.page-enter,
.page-leave-active {
	filter: opacity(0);
}

.slide-left-enter,
.slide-right-leave-active {
	filter: opacity(0);
	transform: translateX(25vw);
}

.slide-left-leave-active,
.slide-right-enter {
	filter: opacity(0);
	transform: translateX(-25vw);
}
