@import "./reset";
@import "./variables";
@import "./fonts";

body,
#app {
	width: 100%;
	min-height: 100vh;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
}

body::before {
	$color-range: 10%;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: "";
	background: linear-gradient(
		30deg,
		darken($color-primary, $color-range * 1.5) 30%,
		lighten($color-primary, $color-range * 0.5)
	);
}

@media screen and (max-width: 700px) {
	font-size: 16px;
}

@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		font-family: "Quicksand", sans-serif;
	}
}
