@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src: local("Quicksand Regular"), local("Quicksand-Regular"),
		url(~assets/fonts/Quicksand/Quicksand-Regular.woff2) format("woff2"),
		url(~assets/fonts/Quicksand/Quicksand-Regular.woff) format("woff"),
		url(~assets/fonts/Quicksand/Quicksand-Regular.ttf) format("ttf"),
		url(~assets/fonts/Quicksand/Quicksand-Regular.otf) format("otf"),
		url(~assets/fonts/Quicksand/Quicksand-Regular.eot) format("eot");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-display: optional;
	src: local("Quicksand Bold"), local("Quicksand-Bold"),
		url(~assets/fonts/Quicksand/Quicksand-Bold.woff2) format("woff2"),
		url(~assets/fonts/Quicksand/Quicksand-Bold.woff) format("woff"),
		url(~assets/fonts/Quicksand/Quicksand-Bold.ttf) format("ttf"),
		url(~assets/fonts/Quicksand/Quicksand-Bold.otf) format("otf"),
		url(~assets/fonts/Quicksand/Quicksand-Bold.eot) format("eot");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src: local("Raleway"), local("Raleway Regular"), local("Raleway-Regular"),
		url(~assets/fonts/Raleway/Raleway-Regular.woff2) format("woff2"),
		url(~assets/fonts/Raleway/Raleway-Regular.woff) format("woff"),
		url(~assets/fonts/Raleway/Raleway-Regular.ttf) format("ttf"),
		url(~assets/fonts/Raleway/Raleway-Regular.otf) format("otf"),
		url(~assets/fonts/Raleway/Raleway-Regular.eot) format("eot");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
