@import "~/styles/variables.scss";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		padding: 0.4em 0 0.25em;
		margin: 0;
	}
}

a {
	color: $color-text;
}

img {
	max-width: 100%;
}

input,
textarea,
select,
button {
	font: inherit;
	line-height: 1.2;
}

button {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
}

code {
	font-style: italic;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	* {
		transition-duration: 0.001ms !important;
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
	}
}
