$content-width-min: 40ch;
$content-width-max: 80ch;

$color-primary: #1e88e5;
$color-secondary: #df123b;
$color-text: #333;
$color-link: darken($color-secondary, 30%);
$color-link-visited: darken($color-secondary, 50%);
