name: Broken Link Checker

on:
  push:
    branches:
    - main
  schedule:
    - cron: "0 8 * * *"

jobs:
  broken-link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: check project links
        run: npx -p broken-link-checker blc -gor http://adrianjost.dev  --exclude linkedin.com/in/adrianjost
